<!DOCTYPE html>
<html lang="en">
	<head>
		{% block title %}<title>Online Shop</title>{% endblock %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

		<!-- Add additional CSS in static file -->
		{% load static %}
		<!-- <link rel="stylesheet" href="{ static 'css/styles.css' %}">-->
		<link rel="stylesheet" href="{% static 'css/shopping-cart.css' %}">
		<link rel="icon" 
					type="image/png" 
					href="https://cdn-icons-png.flaticon.com/512/102/102665.png" />
		{% load django_bootstrap_breadcrumbs %}
	</head>

	<body>
		<!-- fixed-top -->
		<nav class="navbar navbar-expand-lg  navbar-light bg-light">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
					</li>
				</ul>
				<div class="shopping-cart">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="shopping-cart-button">Shopping Cart</button>
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="account-button">Account</button>

					<div class="dropdown-content">
						<ul style="list-style-type:none" id="shopping-cart-content">
							<li><p id="total-amount">Total amount: 0</p></li>
							<button class="btn btn-primary ">Check Out!</button> 
						</ul>
					</div>

					<div class="account-dropdown-content">
						<ul style="list-style-type:none" id="account-dropdown-content-list">
						<p>Welcome! {% if user.is_authenticated %} {{ user.username  }} {% else %} guest
						{% endif %}
						</p>
						{% if user.is_staff %}
							<a href="/admin/" class="btn btn-outline-success my-2 my-sm-0">Admin</a>
						{% endif %}
						{% if user.is_staff or user.is_authenticated %}
							<a href="{% url 'password_change' %}" class="btn btn-outline-success my-2 my-sm-0">Change Password</a>
						{% endif %}

						{% if user.is_authenticated  %}
							<a href="{% url 'logout' %}" class="btn btn-outline-success my-2 my-sm-0">Logout</a>
						{% else %}
							<a href="{% url 'login' %}" class="btn btn-outline-success my-2 my-sm-0">Login</a>
						{% endif %}


            </ul>
          </div>
				</div>
			</div>
		</nav>

		{% block breadcrumbs %}

			{% clear_breadcrumbs %}

			{% breadcrumb "Home" "/" %}
			</nav>
		{% endblock %}
		{% block breadcrumbs_content %}
			{% render_breadcrumbs %}
		{% endblock %}

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-2">
					{% block sidebar %}
						<h1>Category List</h1>
						{% if category_list %}
							<ul>
								{% for category in category_list %}
									<li>
										<a href={{ category.get_absolute_url }}>{{ category.name }}</a>
									</li>
								{% endfor %}
							</ul>
						{% else %}
							<p>There are no category in the shop.</p>
						{% endif %}
					{% endblock %}
				</div>
				<div class="col-sm-10 ">
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>

		{% block javascript %}
			<script src="{% static 'js/shopping-cart-content.js' %}">
			</script>
		{% endblock  %}
	</body>
</html>
