<!DOCTYPE html>
<html lang="en">
	<head>
		{% block title %}<title>Online Shop</title>{% endblock %}
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

		<!-- Add additional CSS in static file -->
		{% load static %}
		{% load %}
		<!-- <link rel="stylesheet" href="{ static 'css/styles.css' %}">-->
		<link rel="stylesheet" href="{% static 'css/shopping-cart.css' %}">
		<link rel="icon" 
					type="image/png" 
					href="https://cdn-icons-png.flaticon.com/512/102/102665.png" />
		{% load django_bootstrap_breadcrumbs %}
	</head>

	<body>
		<!-- fixed-top -->
		<nav class="navbar navbar-expand-lg  navbar-light bg-light">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
					</li>
				</ul>
				<div class="shopping-cart">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="shopping-cart-button">Shopping Cart</button>
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="account-button">Account</button>

					<div class="dropdown-content">
						<ul style="list-style-type:none" id="shopping-cart-content">
							<div id="paypal-button"></div>
							<div id="paypal-button-container"></div>
							<li><p id="total-amount">Total amount: 0</p></li>
						</ul>
					</div>

					<div class="account-dropdown-content">
						<ul style="list-style-type:none" id="account-dropdown-content-list">
						<p>Welcome! {% if user.is_authenticated %} {{ user.username  }} {% else %} guest
						{% endif %}
						</p>
						{% if user.is_staff %}
							<a href="/admin/" class="btn btn-outline-success my-2 my-sm-0">Admin</a>
						{% endif %}
						{% if user.is_staff or user.is_authenticated %}
							<a href="{% url 'password_change' %}" class="btn btn-outline-success my-2 my-sm-0">Change Password</a>
						{% endif %}

						{% if user.is_authenticated  %}
							<a href="{% url 'records'  %}" class="btn btn-outline-success my-2 my-sm-0">Records</a>
							<a href="{% url 'logout' %}" class="btn btn-outline-success my-2 my-sm-0">Logout</a>
						{% else %}
							<a href="{% url 'login' %}" class="btn btn-outline-success my-2 my-sm-0">Login</a>
						{% endif %}


            </ul>
          </div>
				</div>
			</div>
		</nav>

		{% block breadcrumbs %}

			{% clear_breadcrumbs %}

			{% breadcrumb "Home" "/" %}
			</nav>
		{% endblock %}
		{% block breadcrumbs_content %}
			{% render_breadcrumbs %}
		{% endblock %}

		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-2">
					{% block sidebar %}
						<h1>Category List</h1>
						{% if category_list %}
							<ul>
								{% for category in category_list %}
									<li>
										<a href={{ category.get_absolute_url }}>{{ category.name }}</a>
									</li>
								{% endfor %}
							</ul>
						{% else %}
							<p>There are no category in the shop.</p>
						{% endif %}
					{% endblock %}
				</div>
				<div class="col-sm-10 ">
					{% block content %}{% endblock %}
				</div>
			</div>

		</div>

		{% block javascript %}
	{{ product_json|json_script:"data" }}

	<script src="{% static 'js/shopping-cart-content.js' %}">

	</script>
{% endblock %}

{% block paypalJS %}
				<script src="https://www.paypal.com/sdk/js?client-id=AfZKRMqCg5jmIL55zADZFf0SoS-dTsiY2QeJ32PWFnf8-_XU1WIlxmjY77Dqujwb8Pp3WcXrNvTN2UHE&currency=USD"></script>
				<script src="https://js.braintreegateway.com/web/3.85.2/js/client.min.js"></script>
				<script src="https://js.braintreegateway.com/web/3.85.2/js/paypal-checkout.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>
	totalAmount = 0;
		function calAmount(){
					totalAmount = 0;
			for (var key in localStorage)   {
					if (parseInt(key)) getPrice(key);
				}

		}

			function getPrice(productPID){
					$.ajax({
                    type: 'POST',
                    url: '{% url "ajaxTest" %}',
										data: {'pid': productPID }
                }).done(function (result) {
                   //do accordingly
										//console.log(result);
										quantity = JSON.parse( localStorage.getItem(productPID))['quantity'];
										totalAmount += parseInt(result)*parseInt(quantity);
										totalAmountUSD = parseInt(totalAmount/7.85);



                });


		}



	</script>
<script>
	//$.when(calAmount()).done(buttonInit);
try {
	//const val = JSON.parse(document.getElementById('data').textContent);
	testingThePid = data.pid;
	if (typeof data.pid == "undefined"){
		console.log("Change data.");
		throw "The json parse is not as normal";
	}
} catch (error){
	
	function changeData(event) {
		data = JSON.parse(val);
		data = data[event.target.name];
	}	
	
	const nodeList = document.querySelectorAll(".btn-primary");
	for (let i = 0; i < nodeList.length; i++){
		console.log(nodeList[i]);
		nodeList[i].addEventListener("click", changeData);
		nodeList[i].addEventListener("click", calAmount);
		//nodeList[i].addEventListener("click", testAlertFunction);
	}

}


	// Create a client.
	calAmount();
	buttonInit();
		function buttonInit(){
				//totalAmountUSD = totalAmount/7.85;i
braintree.client.create({
		authorization: "{{ request.session.braintree_client_token }}",
}, function (clientErr, clientInstance) {

  // Stop if there was a problem creating the client.
  // This could happen if there is a network error or if the authorization
  // is invalid.
  if (clientErr) {
    console.error('Error creating client:', clientErr);
    return;
  }

  // Create a PayPal Checkout component.
  braintree.paypalCheckout.create({
    client: clientInstance
  }, function (paypalCheckoutErr, paypalCheckoutInstance) {
    paypalCheckoutInstance.loadPayPalSDK({
      currency: 'USD',
      intent: 'capture'
    }, function () {
      paypal.Buttons({
        fundingSource: paypal.FUNDING.PAYPAL,

        createOrder: function () {
          return paypalCheckoutInstance.createPayment({
            flow: 'checkout', // Required
            amount: totalAmountUSD, // Required
						currency: 'USD', // Required, must match the currency passed in with loadPayPalSDK

						//lineItem: {'kind': 'credit', 'name':'iPhone 13', 'quantity':1, "unitAmount": "866"},

            intent: 'capture', // Must match the intent passed in with loadPayPalSDK

            enableShippingAddress: true,
            shippingAddressEditable: false,
            shippingAddressOverride: {
              recipientName: 'Scruff McGruff',
              line1: '1234 Main St.',
              line2: 'Unit 1',
              city: 'Chicago',
              countryCode: 'US',
              postalCode: '60652',
              state: 'IL',
              phone: '123.456.7890'
            }
          });
        },

        onApprove: function (data, actions) {
						return paypalCheckoutInstance.tokenizePayment(data, function (err, payload) {

								$(':button[value="X"]').trigger('click');

								localStorage.setItem('amount', 0);



							//get pid & quantity
							var ajaxData = {};

							for (var key in localStorage)   {
									if (parseInt(key)){
											quantity = JSON.parse( localStorage.getItem(key))['quantity'];
											ajaxData[key] = quantity;
										}
								}
							ajaxData['paymentMethodNonce'] =  payload.nonce;
							ajaxData['csrfmiddlewaretoken'] =  '{{ csrf_token }}';
							ajaxData['amount'] =  totalAmountUSD;



            // Submit `payload.nonce` to your server
							$.ajax({
                    type: 'POST',
                    url: '{% url "payment" %}',
                    //data: {'paymentMethodNonce': payload.nonce,
												//        'csrfmiddlewaretoken': '{{ csrf_token }}', 'amount': totalAmountUSD, }
									data: ajaxData
                }).done(function (result) {
                   //do accordingly
										console.log(result);

                });
          });
        },

        onCancel: function (data) {
          console.log('PayPal payment cancelled', JSON.stringify(data, 0, 2));
        },

        onError: function (err) {
          console.error('PayPal error', err);
        }
      }).render('#paypal-button').then(function () {
        // The PayPal button will be rendered in an html element with the ID
        // `paypal-button`. This function will be called when the PayPal button
					// is set up and ready to be used


      });

    });

  });

});

	}

	</script>
	{% endblock %}


	</body>
</html>
