<!DOCTYPE html>
<!--
	<html>
	<body>
	<a href="{% url 'password_change' %}">password_change</a>
	<p>Enter 2 numbers.</p>
	<form action="/add/" method="post">
	{% csrf_token %}
	a: <input type="text" id="a" name="a"> <br>
	b: <input type="text" id="b" name="b"> <br>
	<p>result: <span id='result'></span></p>
	<button type="button" id='sum'>Submit</button>
	</form>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
	 $("#sum").click(function(){
	 var a = $("#a").val();
	 var b = $("#b").val();

	 $.get("{% url 'add' %}",{'a':a,'b':b}, function(ret){
	 $('#result').html(ret)
	 })
	 });
	 });
	</script>
	</body>
	</html>
	
	-->
	<!DOCTYPE html>
	<html lang="en">

		<head>
			<!-- Add meta tags for mobile and IE -->
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<title> PayPal Checkout Integration | Client Demo </title>
		</head>

		<body>
			<!-- Set up a container element for the button -->
			<div id="paypal-button-container"></div>

			<!-- Include the PayPal JavaScript SDK -->
			<script src="https://www.paypal.com/sdk/js?client-id=AfZKRMqCg5jmIL55zADZFf0SoS-dTsiY2QeJ32PWFnf8-_XU1WIlxmjY77Dqujwb8Pp3WcXrNvTN2UHE&currency=USD"></script>

			<script>
				// Render the PayPal button into #paypal-button-container
				paypal.Buttons({

									// Set up the transaction
									createOrder: function(data, actions) {
														return actions.order.create({
																			purchase_units: [{
																								amount: {
																													value: '88.44'
																												}
																							}]
																		});
													},

									// Finalize the transaction
									onApprove: function(data, actions) {
														return actions.order.capture().then(function(orderData) {
																			// Successful capture! For demo purposes:
																			console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
																			var transaction = orderData.purchase_units[0].payments.captures[0];
																			alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

																			// Replace the above to show a success message within this page, e.g.
																			// const element = document.getElementById('paypal-button-container');
																			// element.innerHTML = '';
																			// element.innerHTML = '<h3>Thank you for your payment!</h3>';
																			// Or go to another URL:  actions.redirect('thank_you.html');
																		});
													}


								}).render('#paypal-button-container');
			</script>
			
			<!--
			<h2>Testing django-paypal</h2>
			{{ form.render }}



			



			<h2>Testing braintree</h3>
			<script src="https://js.braintreegateway.com/web/dropin/1.18.0/js/dropin.min.js"></script>
			<form autocomplete="off">
				{% if braintree_error %}
				<div class="alert alert-danger fade in">
					<button class="close" data-dismiss="alert">&times;</button>
					{{ braintree_error|safe }}
				</div>
				{% endif %}
				<div class="braintree-notifications"></div>
				<div id="braintree-dropin"></div>
				<input style="background-color: #0783ca" id="submit-button" class="btn btn-success btn-lg btn-block" type="button" value="Pay now!" />
			</form>

			<script>
				var braintree_client_token = "{{ braintree_client_token }}";
				var button = document.querySelector('#submit-button');

				braintree.dropin.create({
									authorization: braintree_client_token,
									container: '#braintree-dropin',
									card: {
														cardholderName: {
																			required: false
																		}
													}
								}, function (createErr, instance) {
													button.addEventListener('click', function () {
																		instance.requestPaymentMethod(function (err, payload) {
																							$.ajax({
																												type: 'POST',
																												url: '{% url "payment" %}',
																												data: {'paymentMethodNonce': payload.nonce,
																																	'csrfmiddlewaretoken': '{{ csrf_token }}'}
																											}).done(function (result) {
																																//do accordingly
																															});
																						});
																	});
												});
			</script>
			
			
			<h2>Testing braintree client code</h2>
			<!-- Load the client component. -->
		<!--
<script src="https://js.braintreegateway.com/web/3.85.2/js/client.min.js"></script>

<!-- Load the PayPal Checkout component. -->
<script src="https://js.braintreegateway.com/web/3.85.2/js/paypal-checkout.min.js"></script>

<div id="paypal-button"></div>
<script>

// Create a client.
braintree.client.create({
		authorization: "{{ request.session.braintree_client_token }}",
}, function (clientErr, clientInstance) {

  // Stop if there was a problem creating the client.
  // This could happen if there is a network error or if the authorization
  // is invalid.
  if (clientErr) {
    console.error('Error creating client:', clientErr);
    return;
  }

  // Create a PayPal Checkout component.
  braintree.paypalCheckout.create({
    client: clientInstance
  }, function (paypalCheckoutErr, paypalCheckoutInstance) {
    paypalCheckoutInstance.loadPayPalSDK({
      currency: 'USD',
      intent: 'capture'
    }, function () {
      paypal.Buttons({
        fundingSource: paypal.FUNDING.PAYPAL,

        createOrder: function () {
          return paypalCheckoutInstance.createPayment({
            flow: 'checkout', // Required
            amount: 12.00, // Required
            currency: 'USD', // Required, must match the currency passed in with loadPayPalSDK

            intent: 'capture', // Must match the intent passed in with loadPayPalSDK

            enableShippingAddress: true,
            shippingAddressEditable: false,
            shippingAddressOverride: {
              recipientName: 'Scruff McGruff',
              line1: '1234 Main St.',
              line2: 'Unit 1',
              city: 'Chicago',
              countryCode: 'US',
              postalCode: '60652',
              state: 'IL',
              phone: '123.456.7890'
            }
          });
        },

        onApprove: function (data, actions) {
          return paypalCheckoutInstance.tokenizePayment(data, function (err, payload) {
            // Submit `payload.nonce` to your server
          });
        },

        onCancel: function (data) {
          console.log('PayPal payment cancelled', JSON.stringify(data, 0, 2));
        },

        onError: function (err) {
          console.error('PayPal error', err);
        }
      }).render('#paypal-button').then(function () {
        // The PayPal button will be rendered in an html element with the ID
        // `paypal-button`. This function will be called when the PayPal button
        // is set up and ready to be used
      });

    });

  });

});


	</script>
	-->
		</body>

	</html>
